h3 {
    color: rgb(93, 64, 13);
}

span {
    color: rgb(165, 126, 75);
}

img {
    width: 100%;
    border-radius: 10px;
    height: 186px;
}


.card {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    margin: 10px;
}

#pet {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 375px) {
    
    #pet {
        flex-wrap: wrap;
    }
}